.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&Group {
		display: flex;
		align-items: center;
		
		&Item {
			display: flex;
			align-items: center;
      height: 48px;

			.link {
				padding: 12px;
				font-size: 14px;
				font-weight: 500;
				color: #000;
				font-family: 'Open Sans', sans-serif;
				text-decoration: none;

				&:hover {
					color: #6432c8;
				}

				&:active {
					background: rgba(#6432c8, 0.1);
				}
			}
		}
	}
}

@media (max-width: 414px) {
  .navigation {
    &Group {
      &Item {
        .link {
          padding: 8px;
          font-size: 12px;
        }
      }
    }
  }
}
